/*==========================
          helpers
==========================*/

/*display
==========================*/
.u-hidden-pc {
  display: none !important;

  @include mq-sp {
    display: block !important;
  }
}

.u-hidden-sp {
  @include mq-sp {
    display: none !important;
  }
}

.u-hidden-tablet {
  @include mq-small-pc {
    display: none !important;
  }
}

/*margin
==========================*/

@for $i from 0 through 10 {
  .u-mg#{$i * 5} {
    margin: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-mt#{$i * 5} {
    margin-top: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-mr#{$i * 5} {
    margin-right: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-mb#{$i * 5} {
    margin-bottom: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-ml#{$i * 5} {
    margin-left:#{$i * 5}px !important;
  }
}

/*padding
==========================*/

@for $i from 0 through 10 {
  .u-pg#{$i * 5} {
    padding: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-pt#{$i * 5} {
    padding-top: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-pr#{$i * 5} {
    padding-right: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-pb#{$i * 5} {
    padding-bottom: #{$i * 5}px !important;
  }
}
@for $i from 0 through 10 {
  .u-pl#{$i * 5} {
    padding-left:#{$i * 5}px !important;
  }
}

/*text-align
==========================*/
.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-center {
  text-align: center !important;
}

