@charset "utf-8";

/*==========================
        foundation
==========================*/
@import "_foundation/variable";
@import "_foundation/function";
@import "_foundation/mixin";
@import "_foundation/reset";

/*==========================
           utility
==========================*/
@import "_object/_utility/utility";

/*==========================
          layout
==========================*/


/*==========================
          project
==========================*/


/*==========================
          component
==========================*/


/*==========================
           scope
==========================*/


/*
---
name: Color
category: color
tag: latest
---

## タイトルタイトル

* ダミーテキスト
* ダミーテキストダミーテキスト

```html
<div class="c-color">color</div>
```

*/

.c-color {
  display: block;
  width: 100px;
  height: 100px;
  background-color: tomato;
}
