<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="サイト説明文150文字以内で">
  <meta name="subject" content="サイトの主題">
  <meta name="robots" content="index,follow,noodp">
  <meta name="googlebot" content="index,follow">

  <link rel="icon" href="/images/favicon-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/images/favicon-32.png" sizes="32x32" type="image/png">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://example.com/page.html">
  <meta property="og:type" content="website or artcle">
  <meta property="og:title" content="Content Title">
  <meta property="og:image" content="https://example.com/image.jpg">
  <meta property="og:description" content="Description Here">

  <title>Title</title>

  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<% include _header %>

<main></main>

<% include _footer %>

<!-- javascript -->
<% include _script %>

</body>
</html>
