<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('assets/_include/_config/_meta', {
  meta: {
    title:'HOME',
    description:'このサイトの説明'
  },
  og: {
    title:'site name',
    description:'このサイトの説明',
    type:'website',
    url:'http://hogehoge.jp',
    image:'https://example.com/image.jpg'
  }
}); %>
</head>
<body>
<% include assets/_include/_layout/_header %>

<main>
  <%
    const array = [
      { name: '人参', price: '500' },
      { name: 'キャベツ', price: '398' },
      { name: '白菜', price: '600' }
    ];
    array.map((obj, i) => { %>
    <%- include('assets/_include/_component/_test', {
      ...obj
    }) %>
  <% }) %>
</main>

<% include assets/_include/_layout/_footer %>

<% include assets/_include/_config/_script %>
</body>
</html>

